
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}


h4 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;   
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}